<link rel="stylesheet" href="/style.css">

<div class="container">
    <h1>Your Profile</h1>

    <a href="/">Home</a>

    <% posts.forEach(post => { %>
        <div class="post">
            <form action="/edit/<%= post.id %>" method="POST">
                <input name="content" value="<%= post.content %>">
                <button>Update</button>
            </form>

            <form action="/delete/<%= post.id %>" method="POST">
                <button>Delete</button>
            </form>
        </div>
    <% }) %>
</div>